div .search-field{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.message-owner{
  display: inline-block;
  text-align: center;
  color: white;
  width: 125px;
}

.result-text{
  margin-top: 5px;
  margin-bottom: 5px;
}

.snackbar div{
  background-color: rgba(0, 0, 0, 0.87)!important;
  color: white !important;
  text-align: center !important;
}

@media only screen and (max-width: 425px){
  .modal-content-container{
    width: 100% !important;
  }
  div .modal-button-container{
    display: flex;
    justify-content: center;
  }
  .modal-button-container .modal-button{
    width: 30%;
  }
}

/* .list-item{
  width: 50%;
  margin-right: 0px;
} */
