*{
  box-sizing: border-box;
}
.sub-header{
  display: flex;
  justify-content: space-between;
  width: 99%;
  height: 70px;
  margin-left: .5%;
  margin-right: .5%;
}
div h2.sub-header-title{
  display: inline-block;
  width: 150px;
  height: 24px;
  font-size: 20px;
  color: rgb(0, 188, 212);
  text-align: left;
  align-self: center;
  margin-left: 2.5%;
}

.cancel-button{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
}

.add-button{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
}

input{
  width: 15%;
}

span.fas.fa-plus.font-icon{
  font-size: 18px !important;
}

.delete-button{
  font-size: 20px !important;
}
div.form-buttons{
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}


h3{
  display: inline-block;
  width: 25%;
  color: white;
  text-align: center;
  margin-left: 37.5%;
}
.form-header{
  display: flex;
  justify-content: space-between;
}
.close-button{
  margin-top: 10px;
  margin-right: 10px;
  color: grey;
}
.add-book-response{
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 659px){
  .add-book-form{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .add-button{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 425px){
  .modal-content-container{
    width: 100% !important;
  }
  div .modal-button-container{
    display: flex;
    justify-content: center;
  }
  .modal-button-container .modal-button{
    width: 30%;
  }
  div.form-buttons{
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  .text-field{
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
}
