a{
  text-decoration: none;
}
p{
  color: white;
}
.messages-container{
  height: 100%;
}
.sent-message{
  display: flex;
  margin: 10px;
  justify-content: flex-end;
}

.sent-message p{
  display: inline-block;
  max-width: 75%;
  height: 100%;
  margin: 0;
  padding: 7.5px;
  background-color: rgb(0, 151, 167);
  border-radius: 10px;
}

.recieved-message{
  display: flex;
  margin: 10px;
  justify-content: flex-start;
}

.recieved-message p{
  display: inline-block;
  max-width: 75%;
  height: 100%;
  margin: 0;
  padding: 7.5px;
  background-color: grey;
  border-radius: 10px;
}
.input-container{
  display: flex;
  justify-content: flex-end;
  background-color: rgba(45, 45, 45, .9);
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  margin-top: 5px;
}
.input-container .message-input{
  display: inline-block;
  width: 80%;
  margin: 0;
  resize: none;
  outline: none;
  resize: vertical;
  overflow: hidden;
}

.message-thread-sub-header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

h2.sub-header-username{
  display: block;
  color: white;
  font-size: 18px;
  text-align: center;
  padding-left: 40px;
}

.sub-header h2{
  /* display: block; */
  color: white;
  height: 14px;
  font-size: 14px;
  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */
}

.user-feedback{
  text-align: center;
  font-size: 18px;
}
