a{
  text-decoration: none;
}
p{
  color: white;
}
.messages-thread-container{
  height: 82.5vh;
  overflow: scroll;
}
.sent-message{
  display: flex;
  margin: 10px;
  justify-content: flex-end;
}

.sent-message p{
  display: inline-block;
  max-width: 75%;
  height: 100%;
  margin: 0;
  padding: 7.5px;
  background-color: rgb(0, 151, 167);
  border-radius: 10px;
  overflow-wrap: break-word;
}

.recieved-message{
  display: flex;
  margin: 10px;
  justify-content: flex-start;
}

.recieved-message p{
  display: inline-block;
  max-width: 75%;
  height: 100%;
  margin: 0;
  padding: 7.5px;
  background-color: grey;
  border-radius: 10px;
  overflow-wrap: break-word;
}
.input-container{
  display: flex;
  justify-content: flex-end;
  background-color: rgba(45, 45, 45, .9);
  align-items: center;
  position: fixed;
  height: 10vh;
  bottom: 0;
  right: 0;
  width: 100%;
  margin-top: 5px;
}
.input-container .message-input{
  display: inline-block;
  width: 80%;
  margin: 0;
  resize: none;
  outline: none;
  resize: vertical;
  overflow: hidden;
}

.message-thread-sub-header{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  background-color: rgba(46, 46, 46, .9);
}


h2.sub-header-username{
  display: block;
  color: rgb(255, 64, 129);
  font-size: 18px;
  text-align: center;
  margin: 0px;
}

.sub-header h2{
  color: white;
  height: 14px;
  font-size: 14px;
  text-align: center;
}

.user-feedback{
  text-align: center;
  font-size: 18px;
}

@media only screen and (min-width: 769px){
  .recieved-message{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .sent-message{
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 800px){
  .messages-thread-container{
    height: 80vh;
  }
}
