.landing-page-container{
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.signUp-login-buttons{
  display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: space-around;
}

.tile-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 175px;
  margin: 50px 20px 20px 20px;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 130px;
  /* padding: 12.5px 0px 12.5px 0px; */
  border: 1px solid rgb(33, 150, 167);
  border-radius: 100px;
  /* margin: 25% 15px 50px 15px; */
  color: grey;
}
.logo .swapping-icon{
  height: 65px;
  width: 86.5px;
}

.logo .money-icon{
  height: 75px;
  opacity: .5;
}

.button{
  width: 150px;
  text-align: center;
}

.demo-login-container{
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.app-description{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 18px;
}
.app-description p{
  /* text-align: center; */
  color: rgba(191, 191, 191, 0.7);
}

.landing-page-sub-title{
  text-align: center;
  color: rgb(255, 64, 129);
  font-size: 30px;
}

@media only screen and (min-width: 500px) and (max-width: 800px){
  .logo{
    margin: 20% 15px 20px 15px;
    height: 100px;
    width: 150px;
  }
  .signUp-login-buttons{
    width: 60%;
  }
}

@media only screen and (min-width: 801px){
  .signUp-login-buttons{
    width: 50%;
  }
  /* .logo{
    margin: 10% 15px 50px 15px;
    height: 150px;
    width: 225px;
  } */
  .demo-login-container .demo-login-button{
    width: 150px !important;
  }
}

@media only screen and (max-width: 500px){
  .logo{
    display: block;
    height: 70px;
    width: 105px;
    margin: 25% 15px 15px 15px;
    color: grey;
  }
  .landing-page-sub-title{
    width: 90%;
    max-width: 375px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 26px;
  }
  .app-description p{
    font-size: 17px;
  }
}
