.landing-page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 90%;
  top: 25%;
}
.signUp-login-buttons{
  display: flex;
  width: 60%;
  margin-top: 10px;
  justify-content: space-around;
}

.tile-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 175px;
  margin: 30px 40px 10px 40px;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 110px;
  border: 1px solid rgb(33, 150, 167);
  border-radius: 100px;
  color: grey;
}
.logo .swapping-icon{
  height: 55px;
  width: 75px;
}

.logo .money-icon{
  height: 70px;
  opacity: .5;
}

.logo .messaging-icon{
  height: 45px;
  width: 55px;
}

.button{
  width: 150px;
  text-align: center;
}

.demo-login-container{
  margin: 10px;
}

.app-description{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 18px;
  background-color: rgb(37, 37, 37);
}
.app-description p{
  text-align: center;
  color: rgb(255, 255, 255);
}

.landing-page-sub-title{
  text-align: center;
  color: rgb(255, 64, 129);
  font-size: 36px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 800px){
  .logo{
    height: 80px;
    width: 80px;
  }
  .logo .swapping-icon{
    height: 45px;
    width: 55px;
  }
  
  .logo .money-icon{
    height: 55px;
    opacity: .5;
  }
  
  .logo .messaging-icon{
    height: 40px;
    width: 50px;
  }
  .app-description{
    height: 30%;
  }
  .app-description p{
    font-size: 14px;
  }
  .tile-container{
    position: relative;
    top: 10%;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 700px){
  .landing-page-sub-title{
    font-size: 30px;
  }
}

@media only screen and (max-width: 605px){
  .app-description p{
    font-size: 12px;
  }
}

@media only screen and (max-width: 490px){
  .button-container{
    top: 25%;
  }
  .tile-container{
    top: 0;
  }
  .app-description{
    padding-left: 0%;
    padding-right: 0%;
  }
}

@media only screen and (max-width: 350px){
  .logo{
    height: 70px;
    width: 70px;
  }
  .logo .swapping-icon{
    height: 40px;
    width: 50px;
  }
  
  .logo .money-icon{
    height: 50px;
    opacity: .5;
  }
  
  .logo .messaging-icon{
    height: 35px;
    width: 45px;
  }
}

@media only screen and (min-width: 801px){
  .demo-login-container .demo-login-button{
    width: 150px !important;
  }
}

