.landing-page-container{
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.signUp-login-buttons{
  /* position: absolute;
  bottom: 200px; */
  display: flex;
  width: 100%;
  /* margin-left: 5%;
  margin-right: 5%; */
  margin-top: 10px;
  justify-content: space-between;
}

.logo{
  display: block;
  height: 200px;
  width: 300px;
  color: grey;
}

.button{
  width: 150px;
  text-align: center;
  /* margin: 15px; */
}

.demo-login-container{
  position: absolute;
  bottom: 5px;
  right: 5px;
}

div .demo-login-button{
  font-size: 12px;
  width: 100px;
}

@media only screen and (max-width: 425px){
  .landing-page-container .signUp-login-buttons .button{
    width: 50px;
    text-align: center;
    /* margin: 15px; */
  }
}
